.simple-light-box.default {
	background-color: #212124;
	border-radius: 8px;
	box-shadow: #181818 0px 0px 2px;
}

.simple-light-box.default,
.simple-light-box-overlay {
	-webkit-transition: .3s ease-in-out opacity;
	-o-transition: .3s ease-in-out opacity;
	transition: .3s ease-in-out opacity;
	opacity: 1;
}

.simple-light-box.default.hidden,
.simple-light-box-overlay.hidden {
	opacity: 0 !important;
	display: block;
}

.simple-light-box.default .image-outter-wrapper > h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 15px;
}

.simple-light-box.default .close-btn {
	border: 0;
	background-color: transparent;
}

.simple-light-box.default .close-btn:hover,
.simple-light-box.default >.arrow:hover {
	color: #ccc;
}

.simple-light-box.default .close-btn:focus,
.simple-light-box.default >.arrow:focus {
	color: #444;
}

.simple-light-box.default .close-btn,
.simple-light-box.default >.arrow {
	color: #fff;
	-webkit-transition-property: color;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: .3s;
	-o-transition-property: color;
	-o-transition-timing-function: ease-in-out;
	-o-transition-duration: .3s;
	transition-property: color;
	transition-timing-function: ease-in-out;
	transition-duration: .3s;
}

.simple-light-box.default >.arrow {
	font-size: 20px
}

.simple-light-box.default >.dots>li {
	border: 1px solid #fff;
	-webkit-transition-property: background-color;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: .6s;
	-o-transition-property: background-color;
	-o-transition-timing-function: ease-in-out;
	-o-transition-duration: .6s;
	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: .6s;
}

.simple-light-box.default >.dots>li.current {
	background-color: #fff;
}

.simple-light-box.default >.dots>li:hover,
.simple-light-box.default >.dots>li:focus {
	background-color: #ccc;
}

.simple-light-box.default >.dots>li.current:hover {
	background-color: #fff;
}

@media (max-width: 768px) {
	.simple-light-box.default .image-outter-wrapper > h4 {
		font-size: 18px;
	}

	.simple-light-box.default >.arrow {
		width: 20%;
	}

	.simple-light-box.default >.arrow:after {
		font-size: 65px;
	}
}